# Python virtual environment
qvae/
unirep/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Large data files (这些应交由 Git LFS 管理)
qdata/*.npz
qdata/*.pkl
qdata/*.chkpt
model/*.chkpt

# Secrets
.env
ssh-key
ssh-key.pub

# Wheel 文件（可选，如果你不想提交）
kaiwu-1.2.0-cp310-none-manylinux1_x86_64.whl

# 忽略所有数据目录
qdata/
data/