# Python virtual environment
qvae/
unirep/
qdata/
ssh-key
ssh-key.pub
kaiwu-1.2.0-cp310-none-manylinux1_x86_64.whl
# Python cache files
__pycache__/
*.pyc

# Environment variables file (contains secrets)
.env

# IDE and editor specific files
.vscode/
.idea/qdata/*.npz
